body {
    
}

.Header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.NavBar {
    font-family: Arial, Helvetica, sans-serif;
}

.AboutMeSection {
    font-family: Arial, Helvetica, sans-serif;
}


